---
import BaseHead from '../components/BaseHead.astro';
import NavBar from '../components/NavBar.astro';
import Page from '../components/Page.astro';
import Footer from '../components/Footer.astro';

const { content } = Astro.props;
const { title, description, heroImage, permalink, alt } = content;
---

<html lang={content.lang || 'en'}>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"/>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<NavBar />
		<div class="wrapper">
			<Page {title} {heroImage} {alt}>
				<slot />
			</Page>
		</div>
		<Footer />
	</body>
</html>
